<a href="https://colab.research.google.com/github/as2c/MLP---Cosmology/blob/main/Data2/density_contrast_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
!git clone https://github.com/jveitchmichaelis/pygadgetreader

Cloning into 'pygadgetreader'...
remote: Enumerating objects: 236, done.
remote: Counting objects: 100% (236/236), done.
remote: Compressing objects: 100% (214/214), done.
remote: Total 236 (delta 6), reused 236 (delta 6), pack-reused 0
Receiving objects: 100% (236/236), 749.63 KiB | 28.83 MiB/s, done.
Resolving deltas: 100% (6/6), done.

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
%cd /content/pygadgetreader
!python setup.py build
!python setup.py install

/content/pygadgetreader
running build
running build_py
running install
running bdist_egg
running egg_info
writing pyGadgetReader.egg-info/PKG-INFO
writing dependency_links to pyGadgetReader.egg-info/dependency_links.txt
writing requirements to pyGadgetReader.egg-info/requires.txt
writing top-level names to pyGadgetReader.egg-info/top_level.txt
adding license file 'LICENSE'
writing manifest file 'pyGadgetReader.egg-info/SOURCES.txt'
installing library code to build/bdist.linux-x86_64/egg
running install_lib
running build_py
creating build/bdist.linux-x86_64
creating build/bdist.linux-x86_64/egg
creating build/bdist.linux-x86_64/egg/readgadget
copying build/lib/readgadget/readrockstar.py -> build/bdist.linux-x86_64/egg/readgadget
creating build/bdist.linux-x86_64/egg/readgadget/modules
copying build/lib/readgadget/modules/common.py -> build/bdist.linux-x86_64/egg/readgadget/modules
copying build/lib/readgadget/modules/hdf5.py -> build/bdist.linux-x86_64/egg/readgadget/modules
copying build/lib/readgadget/modules/gadget1.py -> build/bdist.linux-x86_64/egg/readgadget/modules
copying build/lib/readgadget/modules/tipsy.py -> build/bdist.linux-x86_64/egg/readgadget/modules
copying build/lib/readgadget/modules/__init__.py -> build/bdist.linux-x86_64/egg/readgadget/modules
copying build/lib/readgadget/modules/rs_structs.py -> build/bdist.linux-x86_64/egg/readgadget/modules
copying build/lib/readgadget/modules/gadget_blockordering.py -> build/bdist.linux-x86_64/egg/readgadget/modules
copying build/lib/readgadget/modules/names.py -> build/bdist.linux-x86_64/egg/readgadget/modules
copying build/lib/readgadget/modules/gadget2.py -> build/bdist.linux-x86_64/egg/readgadget/modules
copying build/lib/readgadget/modules/header.py -> build/bdist.linux-x86_64/egg/readgadget/modules
copying build/lib/readgadget/__init__.py -> build/bdist.linux-x86_64/egg/readgadget
copying build/lib/readgadget/readpstar.py -> build/bdist.linux-x86_64/egg/readgadget
copying build/lib/readgadget/readfofspecial.py -> build/bdist.linux-x86_64/egg/readgadget
copying build/lib/readgadget/readgadget.py -> build/bdist.linux-x86_64/egg/readgadget
creating build/bdist.linux-x86_64/egg/pygadgetreader
copying build/lib/pygadgetreader/__init__.py -> build/bdist.linux-x86_64/egg/pygadgetreader
byte-compiling build/bdist.linux-x86_64/egg/readgadget/readrockstar.py to readrockstar.cpython-37.pyc
byte-compiling build/bdist.linux-x86_64/egg/readgadget/modules/common.py to common.cpython-37.pyc
byte-compiling build/bdist.linux-x86_64/egg/readgadget/modules/hdf5.py to hdf5.cpython-37.pyc
byte-compiling build/bdist.linux-x86_64/egg/readgadget/modules/gadget1.py to gadget1.cpython-37.pyc
byte-compiling build/bdist.linux-x86_64/egg/readgadget/modules/tipsy.py to tipsy.cpython-37.pyc
byte-compiling build/bdist.linux-x86_64/egg/readgadget/modules/__init__.py to __init__.cpython-37.pyc
byte-compiling build/bdist.linux-x86_64/egg/readgadget/modules/rs_structs.py to rs_structs.cpython-37.pyc
byte-compiling build/bdist.linux-x86_64/egg/readgadget/modules/gadget_blockordering.py to gadget_blockordering.cpython-37.pyc
byte-compiling build/bdist.linux-x86_64/egg/readgadget/modules/names.py to names.cpython-37.pyc
byte-compiling build/bdist.linux-x86_64/egg/readgadget/modules/gadget2.py to gadget2.cpython-37.pyc
byte-compiling build/bdist.linux-x86_64/egg/readgadget/modules/header.py to header.cpython-37.pyc
byte-compiling build/bdist.linux-x86_64/egg/readgadget/__init__.py to __init__.cpython-37.pyc
byte-compiling build/bdist.linux-x86_64/egg/readgadget/readpstar.py to readpstar.cpython-37.pyc
byte-compiling build/bdist.linux-x86_64/egg/readgadget/readfofspecial.py to readfofspecial.cpython-37.pyc
byte-compiling build/bdist.linux-x86_64/egg/readgadget/readgadget.py to readgadget.cpython-37.pyc
byte-compiling build/bdist.linux-x86_64/egg/pygadgetreader/__init__.py to __init__.cpython-37.pyc
creating build/bdist.linux-x86_64/egg/EGG-INFO
copying pyGadgetReader.egg-info/PKG-INFO -> build/bdist.linux-x86_64/egg/EGG-INFO
copying pyGadgetReader.egg-info/SOURCES.txt -> build/bdist.linux-x86_64/egg/EGG-INFO
copying pyGadgetReader.egg-info/dependency_links.txt -> build/bdist.linux-x86_64/egg/EGG-INFO
copying pyGadgetReader.egg-info/requires.txt -> build/bdist.linux-x86_64/egg/EGG-INFO
copying pyGadgetReader.egg-info/top_level.txt -> build/bdist.linux-x86_64/egg/EGG-INFO
zip_safe flag not set; analyzing archive contents...
creating 'dist/pyGadgetReader-2.6-py3.7.egg' and adding 'build/bdist.linux-x86_64/egg' to it
removing 'build/bdist.linux-x86_64/egg' (and everything under it)
Processing pyGadgetReader-2.6-py3.7.egg
Copying pyGadgetReader-2.6-py3.7.egg to /usr/local/lib/python3.7/dist-packages
Adding pyGadgetReader 2.6 to easy-install.pth file

Installed /usr/local/lib/python3.7/dist-packages/pyGadgetReader-2.6-py3.7.egg
Processing dependencies for pyGadgetReader==2.6
Searching for numpy==1.19.5
Best match: numpy 1.19.5
Adding numpy 1.19.5 to easy-install.pth file
Installing f2py script to /usr/local/bin
Installing f2py3 script to /usr/local/bin
Installing f2py3.7 script to /usr/local/bin

Using /usr/local/lib/python3.7/dist-packages
Searching for h5py==3.1.0
Best match: h5py 3.1.0
Adding h5py 3.1.0 to easy-install.pth file

Using /usr/local/lib/python3.7/dist-packages
Searching for cached-property==1.5.2
Best match: cached-property 1.5.2
Adding cached-property 1.5.2 to easy-install.pth file

Using /usr/local/lib/python3.7/dist-packages
Finished processing dependencies for pyGadgetReader==2.6

In [5]:
from pygadgetreader import *

In [6]:
# vel = readsnap('/content/drive/MyDrive/ML/n1lcdmML_snap000_cdm','vel','dm')
# vx = vel[:,0].tolist()
# vy = vel[:,1].tolist()
# vz = vel[:,2].tolist()
# mass = readsnap('/content/drive/MyDrive/ML/n1lcdmML_snap000_cdm','mass','dm').tolist()
# particle_id = readsnap('/content/drive/MyDrive/ML/n1lcdmML_snap000_cdm','pid','dm').tolist()
# position = readsnap('/content/drive/MyDrive/ML/n1lcdmML_snap000_cdm','pos','dm')
# x = position[:,0].tolist()
# y = position[:,1].tolist()
# z = position[:,2].tolist()
# data = {'particle_id': particle_id,
#         'x': x,
#         'y': y,
#         'z': z,
#         'vx': vx,
#         'vy': vy,
#         'vz': vz,
#         'mass': mass}
# df = pd.DataFrame(data)from pygadgetreader import *

# seed = int(input("Enter the seed:"))
halopath = '/content/drive/MyDrive/ML/Project/halos_0'
initial_snap_path = '/content/drive/MyDrive/ML/n1lcdmML_snap000_cdm'

#Reading the halo particles 

particles = readrockstar(halopath,'particles')
halo_particles = pd.DataFrame()
halo_particles['id'] = particles[:,0]
halo_particles['haloID'] = particles[:,1]

#Reading the halo masses
halo_num = pd.DataFrame() 
halos = readrockstar(halopath, 'halos') 
halo_num['haloID'] = halos['id']
halo_num['np'] = halos['num_p']

#a dataframe containing the subhalo id and sub halo mass for each particle
halo_particles = pd.merge(halo_particles, halo_num , right_on = 'haloID', left_on = 'haloID', how = 'outer')

print(halo_particles.describe())

                 id        haloID            np
count  2.214619e+06  2.214619e+06  2.214619e+06
mean   8.946561e+06  6.562720e+02  4.008056e+03
std    4.967033e+06  3.655899e+02  5.164701e+03
min    1.000000e+01  0.000000e+00  2.020000e+02
25%    4.549009e+06  3.370000e+02  1.218000e+03
50%    9.372965e+06  6.610000e+02  2.190000e+03
75%    1.337186e+07  9.760000e+02  4.205000e+03
max    1.677717e+07  1.272000e+03  3.125200e+04

In [7]:
particle_data = pd.DataFrame()

particle_data['id'] = np.array(readsnap(initial_snap_path, 'pid', 'dm'))

particle_data['x'] = np.array(readsnap(initial_snap_path, 'pos', 'dm'))[:,0]
particle_data['y'] = np.array(readsnap(initial_snap_path, 'pos', 'dm'))[:,1]
particle_data['z'] = np.array(readsnap(initial_snap_path, 'pos', 'dm'))[:,2]

particle_data['vx'] = np.array(readsnap(initial_snap_path, 'vel', 'dm'))[:,0]
particle_data['vy'] = np.array(readsnap(initial_snap_path, 'vel', 'dm'))[:,1]
particle_data['vz'] = np.array(readsnap(initial_snap_path, 'vel', 'dm'))[:,2]

Returning DM    Particle IDs
Returning DM    Positions
Returning DM    Positions
Returning DM    Positions
Returning DM    Velocities
Returning DM    Velocities
Returning DM    Velocities

In [8]:
data = pd.merge(particle_data, halo_particles, left_on = 'id', right_on = 'id', how = 'outer')
data['haloID'] = data['haloID'].fillna(0)
data['halo_mass'] = data['np'].fillna(0)
data = data[['id','x','y','z','vx','vy','vz','haloID','halo_mass']]

In [9]:
data

                id              x              y  ...          vz  haloID  halo_mass
0                0     192.691193     231.858017  ... -489.896637     0.0        0.0
1                7     809.101929     210.431351  ... -534.257935     0.0        0.0
2               56    1437.270874     198.266098  ... -615.787476     0.0        0.0
3               63    2043.859375     196.952347  ... -686.565735     0.0        0.0
4               64    2664.605225     204.039200  ... -768.481689     0.0        0.0
...            ...            ...            ...  ...         ...     ...        ...
16777211  16777133  157062.375000  159616.125000  ... -357.832153     0.0        0.0
16777212  16777170  157688.234375  159621.156250  ... -408.717957     0.0        0.0
16777213  16777173  158317.078125  159623.343750  ... -465.415466     0.0        0.0
16777214  16777194  158937.750000  159618.203125  ... -450.085297     0.0        0.0
16777215  16777197  159574.640625  159612.421875  ... -407.712463     0.0        0.0

[16777216 rows x 9 columns]

In [10]:
pd.set_option('display.float_format', '{:e}'.format)

In [11]:
#converting the postion from kpc to Mpc
data['x'] = data['x']/1000
data['y'] = data['y']/1000
data['z'] = data['z']/1000
data = data.astype({'haloID':'int64'})
data = data.sort_values(by = 'x')

In [12]:
data

                id            x            y  ...            vz  haloID    halo_mass
2573056    3702803 1.043876e-01 2.210869e+01  ... -1.593734e+02       0 0.000000e+00
2630144    4227097 1.063551e-01 2.149263e+01  ... -1.114685e+02       0 0.000000e+00
11749888  10133520 1.074259e-01 1.065825e+02  ... -2.276244e+02       0 0.000000e+00
11750144  10133523 1.084110e-01 1.071977e+02  ... -2.313971e+02       0 0.000000e+00
2654464    4489219 1.084628e-01 2.084463e+01  ... -2.124474e+02       0 0.000000e+00
...            ...          ...          ...  ...           ...     ...          ...
10339839  15605748 1.598403e+02 8.340266e+01  ... -4.431822e+02     915 5.946000e+03
10348031  15605749 1.598430e+02 8.341740e+01  ... -4.641362e+02     915 5.946000e+03
10340351  15605740 1.598443e+02 8.463966e+01  ... -3.002645e+02     915 5.946000e+03
10348287  15605742 1.598458e+02 8.405312e+01  ... -3.914064e+02     916 7.980000e+03
10340095  15605743 1.598468e+02 8.405097e+01  ... -3.831090e+02     915 5.946000e+03

[16777216 rows x 9 columns]

In [13]:
box_size = 159
boundary = 20

d = data[data.x > boundary]

d = d[d.x < box_size - boundary]

d = d[d.y > boundary]

d = d[d.y < box_size - boundary]

d = d[d.z > boundary]

d = d[d.z < box_size - boundary]

In [14]:
d.shape

(6873748, 9)

In [15]:
from tqdm import tqdm
def box_mass(r_cutoff, data, sample):
    m = len(sample)
    mass = pd.DataFrame(np.zeros(m),columns=['den_contrast'])
    for i in tqdm(range(m)):
        wx=sample.iloc[i]['x']
        wy=sample.iloc[i]['y']
        wz=sample.iloc[i]['z']
        ix = np.searchsorted(data[:,1] , wx-r_cutoff)
        jx = np.searchsorted(data[:,1] , wx+r_cutoff)

        temp = np.where((data[ix:jx,2] < wy+r_cutoff) & (data[ix:jx,2] > wy-r_cutoff) & (data[ix:jx,3] < wz+r_cutoff) & (data[ix:jx,3] > wz-r_cutoff))
    
        mass.den_contrast[i] = len(temp[0])
    return mass

In [16]:
d.shape

(6873748, 9)

In [17]:
n = 100

sample = d.sample(n, random_state = 42)
sample_density = sample[['id', 'haloID']]
sample_density.reset_index(drop = True, inplace = True)

In [18]:
sample_density.head()

         id  haloID
0  12445545     460
1   9757813       0
2   4364083       0
3   9111430       0
4   2698019       0

In [19]:
print(data)

                id            x            y  ...            vz  haloID    halo_mass
2573056    3702803 1.043876e-01 2.210869e+01  ... -1.593734e+02       0 0.000000e+00
2630144    4227097 1.063551e-01 2.149263e+01  ... -1.114685e+02       0 0.000000e+00
11749888  10133520 1.074259e-01 1.065825e+02  ... -2.276244e+02       0 0.000000e+00
11750144  10133523 1.084110e-01 1.071977e+02  ... -2.313971e+02       0 0.000000e+00
2654464    4489219 1.084628e-01 2.084463e+01  ... -2.124474e+02       0 0.000000e+00
...            ...          ...          ...  ...           ...     ...          ...
10339839  15605748 1.598403e+02 8.340266e+01  ... -4.431822e+02     915 5.946000e+03
10348031  15605749 1.598430e+02 8.341740e+01  ... -4.641362e+02     915 5.946000e+03
10340351  15605740 1.598443e+02 8.463966e+01  ... -3.002645e+02     915 5.946000e+03
10348287  15605742 1.598458e+02 8.405312e+01  ... -3.914064e+02     916 7.980000e+03
10340095  15605743 1.598468e+02 8.405097e+01  ... -3.831090e+02     915 5.946000e+03

[16777216 rows x 9 columns]

In [20]:
data = data.to_numpy()

In [21]:
data = data.astype('float64')

In [22]:
data.shape

(16777216, 9)

In [23]:
n = 100000

sample = d.sample(n, random_state = 42)
sample_density = sample[['id', 'haloID']]
sample_density.reset_index(drop = True, inplace = True)

for r in np.linspace(4.9, 20, 9):
  density = box_mass(r , data, sample)
  density = density.div((2*r)**3)
  sample_density = pd.concat([sample_density, density], axis = 1)
  sample_density = sample_density.rename(columns={'den_contrast': 'dc for {0:.1f}'.format(r)})
sample_density.head()

100%|██████████| 100000/100000 [08:27<00:00, 197.23it/s]
100%|██████████| 100000/100000 [11:46<00:00, 141.63it/s]
100%|██████████| 100000/100000 [15:03<00:00, 110.65it/s]
100%|██████████| 100000/100000 [18:40<00:00, 89.28it/s]
100%|██████████| 100000/100000 [21:39<00:00, 76.96it/s]
100%|██████████| 100000/100000 [26:12<00:00, 63.59it/s]
100%|██████████| 100000/100000 [30:05<00:00, 55.38it/s]
100%|██████████| 100000/100000 [35:35<00:00, 46.83it/s]
100%|██████████| 100000/100000 [43:14<00:00, 38.54it/s]

         id  haloID   dc for 4.9  ...  dc for 16.2  dc for 18.1  dc for 20.0
0  12445545     460 3.747376e+00  ... 4.123362e+00 4.141595e+00 4.153437e+00
1   9757813       0 3.607128e+00  ... 4.025908e+00 4.035507e+00 4.045141e+00
2   4364083       0 3.680439e+00  ... 3.992516e+00 4.038915e+00 4.063891e+00
3   9111430       0 3.594378e+00  ... 4.125586e+00 4.124197e+00 4.119031e+00
4   2698019       0 3.591191e+00  ... 4.031615e+00 4.063465e+00 4.080422e+00

[5 rows x 11 columns]

In [24]:
sample_density.describe()

                id       haloID  ...  dc for 18.1  dc for 20.0
count 1.000000e+05 1.000000e+05  ... 1.000000e+05 1.000000e+05
mean  8.336331e+06 7.351837e+01  ... 4.073129e+00 4.093753e+00
std   3.601997e+06 2.368330e+02  ... 5.147849e-02 4.617630e-02
min   2.130504e+06 0.000000e+00  ... 3.901799e+00 3.924484e+00
25%   5.190622e+06 0.000000e+00  ... 4.039820e+00 4.064109e+00
50%   8.323708e+06 0.000000e+00  ... 4.073405e+00 4.094391e+00
75%   1.143864e+07 0.000000e+00  ... 4.107053e+00 4.124422e+00
max   1.464666e+07 1.233000e+03  ... 4.251363e+00 4.250687e+00

[8 rows x 11 columns]

In [25]:
sample_density.to_csv('/content/drive/MyDrive/sample_density_final2.csv', index=False)

In [26]:
rho_bar = len(data) / (159.8**3)
sample_density.iloc[:,2:] -= rho_bar
sample_density.iloc[:,2:] /= rho_bar
print(sample_density)

             id  haloID    dc for 4.9  ...   dc for 16.2   dc for 18.1   dc for 20.0
0      12445545     460 -8.853990e-02  ...  2.909874e-03  7.344509e-03  1.022499e-02
1       9757813       0 -1.226518e-01  ... -2.079352e-02 -1.845873e-02 -1.611565e-02
2       4364083       0 -1.048206e-01  ... -2.891532e-02 -1.762983e-02 -1.155516e-02
3       9111430       0 -1.257529e-01  ...  3.450852e-03  3.113044e-03  1.856490e-03
4       2698019       0 -1.265282e-01  ... -1.940548e-02 -1.165871e-02 -7.534323e-03
...         ...     ...           ...  ...           ...           ...           ...
99995   5727559       0 -1.231687e-01  ... -2.297879e-02 -1.671395e-02 -1.403682e-02
99996  13779938       0 -1.278203e-01  ...  2.667857e-03  5.973249e-03  6.515793e-03
99997   5313693       0 -1.278203e-01  ... -1.696396e-02 -6.414148e-03 -2.183346e-03
99998   7482364       0 -1.278203e-01  ... -1.503495e-02 -1.427843e-02 -1.217462e-02
99999   8333714       0 -1.278203e-01  ... -5.169211e-03 -2.332411e-04  5.656900e-03

[100000 rows x 11 columns]

In [27]:
sample_density.to_csv('/content/drive/MyDrive/density_contrast_final2.csv', index=False)

The above gives the physical properties that we were looking for, namely the density contrasts for each particle encompassed by boxes of different sizes.